$colorPrimario: #16a596;
$fondoOscuro: #898b8a;
$colorClaroUno: #f6f5f1;
$colorClaroDos: #fae0df;


.header{
    height: 150px;
    background-color: $colorPrimario;
    margin-bottom: 2rem;
    h1{
        font-family: 'Poppins';
        letter-spacing: 2px;
        text-align: center;
        color: $colorClaroUno; 
        font-size: 4rem;
        font-weight: 500;
    
    }
}

.contenedor--header{
    flex-flow: column;
    align-content: center;
}

.contenedor{
    margin: 0px auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card{
    width: 30%;
}

.card img{
    width: 100%;
    height: auto;
}

@supports(object-fit: cover){
    .card img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.formulario{
    width: 60%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
}

.titulo-2{
   font-family: 'Poppins';
   border-radius: .2rem;
   color: $colorPrimario;
   font-size: 2rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.input{
    width: 50%;
    font-family: 'Poppins';
    color: $colorClaroDos;
    background-color:$fondoOscuro;
    font-size: 1.6rem;  
}

.boton{
    display: block;
    width: max-content;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: 'Poppins';
    align-self: flex-start;
    background-color:$fondoOscuro;
    color: $colorClaroDos;
    transition: 500ms;
}

.boton:hover,  .input:hover{
    background-color: $colorPrimario;
    color: $colorClaroDos;
}

.contenedor__presupuesto{
    display: flex;
    flex-flow: column;
    width: 50%;
    h1{
        color:$colorPrimario;
        font-size: 2.5rem;
        font-family: 'Poppins';

    }
    p{
        color:$colorPrimario;
        font-size: 2.5rem;
        font-family: 'Poppins';

    }
}


.footer{
    font-size: 1.6rem;
    background-color:$colorPrimario;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 4rem;
    .contenedor{
        p{
            font-family: 'Poppins';
            font-weight: 500;
            color: $colorClaroUno;
            font-size: 1.6rem;
            line-height: 4rem;
        
        }

    }
}
