#main{
    margin: 0px auto;
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
}

#contenido{
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
}

#secciones{
    width: 80%;
}

